In [25]:
import pandas as pd
import numpy as np
import re

# Importando os dados

In [26]:
df = pd.read_csv('datasets/whole_century.csv')
df.head(3)

,date,title,comments
0,2023-01-02,Não Houve Exibição,"velório de Pelé, intitulada Rei Pelé: Cobertura"
1,2023-01-03,A Nova Cinderela,exibição às 15h55
2,2023-01-04,Agente 86,2008

# Limpeza

In [27]:
df_example = df.dropna(subset='title')
df_example[df_example['title'].str.contains('Não Houve', regex= False, case= False)].head(3)

,date,title,comments
0,2023-01-02,Não Houve Exibição,"velório de Pelé, intitulada Rei Pelé: Cobertura"
26,2023-02-07,Não Houve Exibição - Mundial de Clubes: Flamen...,NaN
28,2023-02-09,Não Houve Exibição - Supercopa Feminina de Fut...,NaN

Pode-se observar que:
- Houveram dias que não houveram exibição de filmes na sessão da tarde
- Existem dias que não há informação sobre o filme passado (título nulo)

Retiraremos esses dados do dataset.

In [28]:
df.dropna(subset=['title'], inplace=True)

In [29]:
rows_to_delete = df.loc[df['title'].str.contains('Não Houve', case=False, regex=False)].index

In [30]:
df.drop(rows_to_delete, inplace=True)

Selecionando apenas o primeiro título (para dias com múltiplas exibições para diferentes estados)

In [31]:
df[df['title'].str.contains('|', case=False, regex=False)].head(3)

,date,title,comments
482,2021-04-12,"Intocáveis | Meu Pai, Meu Herói",somente para o ES
750,2020-04-20,Homem-Aranha | Tainá 2: A Aventura Continua,2002
958,2019-02-04,Soul Surfer: Coragem de Viver | Kung Fu Panda 2,somente para as afiliadas da Globo

In [32]:
df['title'] = df['title'].str.split('|').str[0].str.strip()

In [33]:
df.to_csv('datasets/cleanedcentury.csv', index = False)